
@{
    ViewBag.Title = "Index";
}

<h2>Profesiones registradas</h2>

<input type="button" id="btnMostrar" value="Mostrar" class="btn-primary" />

<table id="miTabla" class="table">
    

</table>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bibliotecaRolando.js"></script>
